html, body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height: 100%;
	max-width: 1920 px;
	overflow: none;
}
	body {
		position: relative;
	}	
	* {
		margin: 0;
		padding: 0;
		outline: 0;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		header {
			width: 100%;
			height: 15.84%;
			background-color: #212121;
	}
			.header_block {
				display: block;
				width: 52.08%;
				margin: auto;
			}
				.logo {
					background-color: #212121;
					width: 33%;
					float: left;
					max-height: 80%;
				}
					.logo img {
						width: 80%;
						min-width: 100%;
						padding-right: 45px;
						padding-bottom: 5%;
						padding-top: 30px;
					}
					nav div {
						height: 90%;
						width: 22%;
						float: left;
					}
					.color {
					background-color: #f3df66;
					margin-left: 5px;
				}
					#color_black {
						color: #000000;
					}
						a.menu {
							display: block;
							text-decoration: none;
							font-size: 16pt;
							color: #e6ebe7;
							padding-top: 60%;
						}
		.content{
			width: 52.08%;
			max-height: 420px;
			margin: auto;
			height: 31.69%;
		}		
			.photo {
				display: block;
				width: 33.5%; 
				padding-left: 20px;
				padding-right: 20px;
				float: left;
				background-color: #ffffff;
			}
				.photo img{
					width: 85%;
					height: 100%;
					margin: auto;
					display: block;
					max-width: 290px;
					padding-top: 2.26%;
				}
			.info {
				display: block;
				margin-left: 33.5%;
				color: #e6ebe7;
				background-color: #3c673c;
				height: 100%;
				overflow: auto;
			}
				.info p{
				padding-left: 25px;
				padding-right: 20px;
				}
				.info h3 {
					padding-left: 25px;
					padding-bottom: 3.8%;
					padding-top: 2.26%;
				}
		.block_section {
			height: 34.34%;
			width: 52.08%;
			margin: auto;
		}			
			.blok_1, .blok_2, .blok_3 {
				width: 33.33%;
			}
			.blok_1 {
				float: left;
			}
			.blok_2 {
				float: left;
			}
			.blok_3 {
				float: left;
			}
				h3.blocks {
					padding-bottom: 10px;
					padding-top: 5.28%;
					padding-left: 20px; 
				} 
				.border {
					border-bottom: 3px solid #bbbbbb;
				}
				p.blok_text {
					height: 50%;
					padding-left: 20px;
					padding-right: 20px;
					padding-top: 10px;
				}
				.more {
					display: block;
					width: 27%;
					height: 11.9%;
					background-color: #2f2f2f;
					padding-top: 7%;
					text-align: center;
					line-height: 11.9%;
					margin-right: 0;
					margin-left: auto;
					margin-top: 14.2%;
				}
					.more a {
						color: #e6ebe7;
						text-decoration: none;
					}
		.contacts {
			background-color: #f3df66;
		}
			.contacts div {
				padding-top: 5px;
				padding-bottom: 5px;
				width: 290px;
				margin: auto;
			}
				.contacts div p {
					font-family: Times New Roman;
					text-align: center;
					margin-top: 10px;
					font-size: 10pt;
					line-height: 0.85em;
				}
		footer {			
			height: 3.01%;
		}
			.copyright {
				display: block;
				width: 52.08%;
				margin: auto;
			}
			p.copyright_text {
				font-size: 12pt;
			}
			.copyright div {
				display: inline-block;
				margin-right: 7.5%;
			}
			.last {
				margin-right: 0;
			}
			
@media screen and (min-width: 1920px) {
    .logo img {
    	padding-top: 10px;
    }
    .info p {
        font-size: 12pt;
        line-height: 160%;
    }
    p.blok_text {
		font-size: 11pt;
	}
	.contacts div p {
		font-size: 7pt;
		line-height: 0.6em;
	}
	a.menu {
		padding-top: 50%;
		font-size: 16pt;
		line-height: 20px;
	}
	p.copyright_text {
		font-size: 9pt;
	}
}
@media screen and (min-width: 1650px) and (max-width: 1919px) {
	.logo img {
    	padding-top: 10px;
    }
    .info p {
        font-size: 11pt;
        line-height: 140%;
    }
     p.blok_text {
		font-size: 10pt;
	}
	.contacts div p {
		font-size: 7pt;
		line-height: 0.6em;
	}
	a.menu {
		padding-top: 50%;
		font-size: 14pt;
		line-height: 18px;
	}
	p.copyright_text {
		font-size: 8pt;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1649px) {
	.logo img {
    	padding-top: 10px;
    }
    .info p {
        font-size: 9pt;
        line-height: 130%;
    }
     p.blok_text {
		font-size: 9pt;
	}
	.contacts div p {
		font-size: 7pt;
		line-height: 0.6em;
	}
	a.menu {
	   	padding-top: 50%;
		font-size: 14pt;
		line-height: 18px;
	}
	p.copyright_text {
		font-size: 6pt;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .info p {
        font-size: 9pt;
        line-height: 130%;
    }
     p.blok_text {
		font-size: 8pt;
	}
	.contacts div p {
		font-size: 7pt;
		line-height: 0.6em;
	}
	a.menu {
		padding-top: 55%;
		font-size: 12pt;
		line-height: 16px;
	}
	p.copyright_text {
		font-size: 5pt;
	}
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    .info p {
        font-size: 9pt;
        line-height: 100%;
    }
     p.blok_text {
		font-size: 6pt;
	}
	.contacts div p {
		font-size: 7pt;
		line-height: 0.6em;
	}
	a.menu {
		font-size: 10pt;
		line-height: 14px;
	}
	p.copyright_text {
		font-size: 4pt;
	}
}