html, body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height: 100%;
	max-width: 1920 px;
	overflow: none;
}
	body {
		position: relative;
	}	
	* {
		margin: 0;
		padding: 0;
		outline: 0;

		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		header {
			position: relative;
			background-color: #212121;
			height: 210px;
			width: 100%;
		}
			.logo {
				position: relative;
				margin-bottom: 0;
				left: 23.96%;
				top: 60px;
				float: left;
				margin-right: 50px;
			}		
			#color {
				background-color: #f3df66;
			}
			body header nav {
				display: inline-block;
				max-width: 675px;
				height: 190px;
				bottom: 20px;
				margin-left: 23.96%;
			}
				body header nav div {
					display: inline-block;
					width: 220px;
					height: 190px;
					text-align: center;
					margin-left: 0px;
					padding: 0;
				}
					body header nav div a {
						display: block;
						text-decoration: none;
						color: #e6ebe7;
						margin-top: 160px;
						font-size: 16pt;
					}
			.content{
				position: relative;
				width: 1000px;
				max-height: 420px;
				margin: auto;
			}		
			.photo {
				display: inline-block;
				position: relative;
				max-height: 390px;
				max-width: 290px;
				padding-left: 20px;
				top: 30px;
				right: 20px; 
				float: left;
			}
				.photo img{
					display: block;
					max-width: 290px;
					height: 390px;
					margin: 30px, 20px, 0;
				}
			.info {
				color: #e6ebe7;
				position: relative;
				display: inline-block;
				background-color: #3c673c;
				width: 66%;
				height: 42%;
				-o-height: none;
				left: 50px;
				overflow: none;
				padding-left: 30px;
				padding-bottom: 30px;
				padding-right: 40px;
				padding-top: 30px;
			}
					.info p{
					line-height: 1.9em;
					margin: 0;
					padding: 0;
				}
					.info h3 {
						padding-bottom: 3.8%;
						
						
					}
		.block_section {
			display: block;
			height: 34.34%;
			max-width: 1000px;
			margin: auto;

		}			
			.blok_1, .blok_2, .blok_3 {
				position: relative;
				display: block;
				width: 330px;
				height: 460px;

			}
			.blok_1, .block2 {
				float: left;
			}
			.blok_2 {
				float: left;
			}
			.blok_3 {
				float: right;
				
			}
				h3.blocks {
					margin-bottom: 10px;
					margin-top: 70px;
					margin-right: 20px;
					margin-left: 20px; 
				} 
				.border {
					border-bottom: 3px solid #bbbbbb;
				}
				p.blok_text {
					margin-left: 20px;
					margin-right: 20px;
				}
				.more {
					display: block;
					width: 90px;
					height: 50px;
					background-color: #2f2f2f;
					vertical-align: center;
					text-align: center;
					line-height: 50px;
					position: absolute;
					left: 240px;
					top: 360px;
					margin-bottom: 50px;
				}
					.more a {
						color: #e6ebe7;
						text-decoration: none;
						vertical-align: center;
					}
		.contacts {
			display: block;
			position: relative;
			background-color: #f3df66;
			height: 190px;
			top: 116px;
		}
			.contacts div {
				position: relative;
				display: block;
				top: -100px;
				width: 290px;
				margin: auto;
			}
				.contacts div p {
					font-family: Times New Roman;
					text-align: center;
					margin-top: 10px;
					font-size: 10pt;
					line-height: 0.85em;
				}
		footer {
			position: relative;
			top: 115px;
			margin-left: 22.96%;
			height: 40px;
		}

			footer div {
				display: inline-block;
				margin-left: 40px;
				margin-top: 10px;
			}
			.last {
				position: absolute;
				bottom: 0;
				text-align: right;
				top : 2px;
				left: 670px;
				}

